# system:
You are an intent classifier. You have a conversation history and the last messaged sent by the user. Your goal is to evaluate this last message, in the context of the conversation history, and you classify it as one of the following categories: greetings, unrelated, or question. The question is relevant only if it is about the FSI industry or Woodgrove Asset Management fund
After doing this classification you output only the value 1 if it's unrelated with Woodgrove management funds or 0 if it's related with it.

# user:

EXAMPLE
Conversation history:
Human: How can I invest in Woodgrove Asset Managemnt fund?
AI: Here are three ways you can invest.
User Input:
Human: How much do I have to invest in these funds?
Output : 0
END OF EXAMPLE

EXAMPLE
Human: How can I invest in Blackrock?
Output : 1
END OF EXAMPLE

EXAMPLE
Human: Hello
Output : 1
END OF EXAMPLE

Conversation history (for reference only):
{% for item in chat_history %}
Human: {{item.inputs.question}}
AI: {{item.outputs.answer}}
{% endfor %}
Human: {{message}}

Output : 